@import 'reset';


$accent: #ED4C5C;

%title{
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}



html, body{
  overflow-x: hidden;
}
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}
.container{
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}
.img-block{
  margin-left: 125px;
  border-radius: 15px;
  overflow: hidden;
  max-width: 445px;
  height: 311px;
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.header{
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  color: #fff;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    height: 100%;
  }
  &__inner{
    position: relative;
    z-index: 1;
  }
  &__top{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }
  &__btn{
    line-height: 16px;
    text-transform: uppercase;
    padding: 12px 31px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
  }
  &__offer{
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
    padding: 115px 0 50px;
  }
  &__title{
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  &__text{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
  }
  &__offer-btn{
    line-height: 16px;
    text-transform: uppercase;
    padding: 16px 33px 18px 26px;
    background: #fff;
    color: $accent;
    border-radius: 6px;

  }
}
.menu{
  &__btn{
    width: 35px;
    cursor: pointer;
    display: none;
    transition: all .5s;
    &-line{
      height: 4px;
      background-color: #fff;
      transition: all .5s;
      & + &{
        margin-top: 4px;
      }
    }
  }
  &__item + &__item{
    margin-left: 20px;
  }
  &__link{
    text-transform: uppercase;
    font-weight: 500;
    line-height: 16px;
  }
}
.about{
  padding: 95px 0;
  &__inner{
    display: flex;
    align-items: center;
  }
  &__info{
    max-width: 445px;
  }
  &__title{
    @extend %title;
    margin-bottom: 36px;
  }
  &__text{
    margin-bottom: 12px;
    text-align: justify;
  }
  &__link{
    color: $accent;
  }
}
.abilities{
  padding: 63px 0 124px;
  background-color: #FAFAFA;
  &__title{
    @extend %title;
    text-align: center;
    margin-bottom: 70px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__block{
    max-width: 350px;
  }
  &__img-block{
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__info{
    width: 293px;
    min-height: 200px;
    background-color: #fff;
    padding: 26px 32px;
    margin: -93px auto 0;
    position: relative;
    z-index: 1;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  &__block-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
  }
  &__block-text{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 12px;
  }
  &__block-link{
    color: $accent;
    font-size: 12px;
    line-height: 18px;
  }
}
.advantages{
  padding: 63px 0 125px;
  &__title{
    @extend %title;
    text-align: center;
    margin-bottom: 60px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    counter-reset: count;
  }
  &__item{
    width: 255px;
    flex-shrink: 0;
    padding: 70px 30px 22px 34px;
    text-align: center;
    position: relative;
    &::before{
      position: absolute;
      counter-increment: count;
      content: counter(count, decimal-leading-zero);
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 100px;
      line-height: 120px;
      color: rgba(16, 16, 16, 0.08);
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__img-block{
    height: 80px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__item-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
  }
  &__item-text{
    font-size: 12px;
    line-height: 14px;
  }
}


@import 'media';